html, body {
    overflow: hidden;
}

html, body, .container, canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


// @media (max-width: 812px) and (orientation: landscape) {
  
// }


  