  <mat-card-content>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="FileMenu">
      File
    </button>
    <mat-menu #FileMenu="matMenu">
      <button mat-menu-item>
        <span>Download</span>
      </button>
      <button mat-menu-item>
        <span>Load</span>
      </button>
    </mat-menu>
  </mat-card-content>

  <mat-card-content>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="OptionsMenu">
      Options
    </button>
    <mat-menu #OptionsMenu="matMenu">
      <button mat-menu-item>
        <span>Lenght</span>
      </button>
    </mat-menu>
  </mat-card-content>


  <mat-card-content>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="HelpMenu">
      Help
    </button>
    <mat-menu #HelpMenu="matMenu">
      <button mat-menu-item>
        <span>About</span>
      </button>
    </mat-menu>
  </mat-card-content>
