@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
